.banner{
    font-family: 'Titan One', sans-serif;
    font-family:'Black Han Sans';
    height:100vh;
    background-color: black;
    box-shadow: #28ff1536 0px 20px 70px -10px;
    z-index:9;
    position:sticky;
    h1{
        background-color: black;
        font-size:80px;
        display:flex;
        justify-content: center;
        align-items: center;            
        text-shadow: 7px -6px 0 rgb(227, 233, 226);
        //background: linear-gradient(60deg, #0d33ad, #62f0e4);
        background: linear-gradient(60deg, #082401, #29ff15);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding-top:10%;
        height:20%;
        font-style:italic;
        width:100%;
        padding-top:50px;
    }
    h2{
        background-color: white;
        font-size:40px;
        display:flex;
        justify-content: center;
        align-items: center;            
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        height:10%;
        width:100%;
        font-family: 'VT323';
        font-style:italic;
    }
    span{
        display:none;
    }
    a{
        color:white;
        text-decoration: none;
    }
}
@media(max-width:780px){
    .banner{
        h1{
            font-size:65px;
        }
        h2{
            font-size:24px;
        }
    }
}
@media(max-width:520px){
    .banner{
        h1{
            font-size:50px;
        }
        h2{
            font-size:22px;
        }
    }
}
@media(max-width:400px){
    .banner{
        h1{
            font-size:42px;
        }
        h2{
            font-size:20px;
        }
    }
}