.banner{
    font-family: 'Black Han Sans', sans-serif;
    height:100vh;
    background-color: black;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

    //box-shadow: rgba(49, 100, 240, 0.4) 0px 5px, rgba(50, 91, 240, 0.3) 0px 10px, rgba(46, 114, 240, 0.2) 0px 15px, rgba(46, 162, 240, 0.1) 0px 20px, rgba(46, 211, 240, 0.05) 0px 25px;
    h1{
        background-color: black;
     
        font-size:80px;
        display:flex;
        justify-content: center;
        align-items: center;            
        text-shadow: 15px -9px 0 white;
        background: linear-gradient(60deg, #0d33ad, #62f0e4);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding-top:10%;
        height:20%;
        width:100%;
    }
    h2{
        background-color: white;
        font-size:50px;
        display:flex;
        justify-content: center;
        align-items: center;            
        // text-shadow: 15px -9px 0 white;
        // background: linear-gradient(60deg, #0d33ad, #62f0e4);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        height:10%;
        width:100%;
        font-family: 'Shadows Into Light';
        font-style: italic;
    }
    a{
        color:white;
        text-decoration: none;
    }
}
@media(max-width:780px){
    .banner{
        h1{
            font-size:65px;
        }
        h2{
            font-size:45px;
        }
    }
}
@media(max-width:520px){
    .banner{
        h1{
            font-size:50px;
        }
        h2{
            font-size:40px;
        }
    }
}
@media(max-width:400px){
    .banner{
        height:70vh;
        h1{
            font-size:42px;
        }
        h2{
            font-size:35px;
        }
    }
}