.burger{
    font-family: 'Space Mono';
    display: none;
    background-color: black;
    width:100%;
   // height:100%;  
    .burger-btn{
        background-color: black;
        height:25px;
        width:25px;
        margin-bottom:3%;
        margin-top:3%;
        margin-left:3%;
        border:3px solid #29ff15;
        border-radius: 20%;
    }
    .burger-nav{
        height:17vh;
        background: black;
        position:absolute;
        top:10;
        width:100%;
        padding-top:5px;
        padding-bottom:10px;
        padding-left:2%;
        a{
            margin-left:2%;
            margin-top:5px;
            display:flex;
            flex-wrap:wrap;
            flex-basis:10%;
            color:white;
            text-decoration: none;
            font-size:25px;
        }
    } 
    a:hover{
        color:#29ff15;
    }
}

@media(max-width:600px){
    .burger{
        display:inline-block;
        
        .burger-nav{
        position:relative;
        a{
            
            z-index:10;
        }
        }
    }
}
@media(max-width:520px){
    .burger{
        .burger-nav{
            a{
                font-size:20px;
            }
        }
    }
  
}
@media(max-width:400px){
    .burger{
        .burger-nav{
            a{
                font-size:18px;
            }
        }
    }
  
}