.burger{
    font-family: 'Shadows Into Light';
    display: none;
    background-color: black;
    width:100%;
    height:100%;
    position:relative;
    .burger-btn{
        background-color: black;
        height:25px;
        width:25px;
        margin-bottom:3%;
        margin-top:3%;
        margin-left:3%;
        border:3px solid #b1f1fc;
        border-radius: 20%;
    }
    .burger-nav{
        background: black;
        position:absolute;
        z-index:9;
        top:10;
        width:100%;
        height:18vh;
        padding-top:5px;
        padding-bottom:10px;
        padding-left:2%;
        a{
            margin-left:2%;
            margin-top:5px;
            display:flex;
            flex-wrap:wrap;
            flex-basis:10%;
            color:white;
            text-decoration: none;
            font-size:25px;
        }
    } 
    a:hover{
        color:#62f0e4;
    }
}

@media(max-width:600px){
    .burger{
        display:inline-block;

    }
}
@media(max-width:520px){
    .burger{
        .burger-nav{
            a{
                font-size:20px;
            }
        }
    }
  
}
@media(max-width:400px){
    .burger{
        .burger-nav{
            a{
                font-size:18px;
            }
        }
    }
  
}