footer{
    border-top:1px solid white;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height:200px;
    width:100%;
    font-family: 'Truculenta';
    margin-top:10%;
    h1{

        font-size:30px;
        color:white;   
      
    }
    .logos{
       position: absolute;
       right:20px;
      
        .gitCat{   
        margin-right:10px;
        }
        .l-in{ 
            img{
                width:38px;
                height:30px;
            }
        }
    }
    .links{
        display:flex;
        flex-wrap:wrap;
        font-family: 'Truculenta';
        position: absolute;
        width:2%;
        left:20px;
        h1{
            border-bottom:1px solid white;
            font-size:20px;
            margin-bottom:10px;
        }
        a{
            font-size:18px;
            text-decoration: none;
            color:white;

        }
        a:hover{
            color:#62f0e4;
        }
    }
    
}

@media(max-width:650px){
    footer{
       h1{
        font-size:20px;
    

       }     
       .logos{
           
    
     .l-in{ 
         img{
             width:28px;
             height:25px;
         }
     }
     }
    }
}

@media(max-width:350px){
    footer{
        h1{
            font-size:16px;
            margin-right:5%;
        }
        .links{
            h1{
                font-size:18px;
            }
            a{
                font-size:14px;
            }
        }
        
    }
}