.home-content{
    height:100vh;
    font-family: 'Truculenta', cursive;
    width:100%;
    justify-content: center;
    align-items: center;
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    margin-top:5%;
    margin-bottom:30%;
    padding-bottom:10%;
    .card{
        
        margin-bottom:3%;
        margin-right:2%;
        margin-left:2%;
        perspective: 150rem;
        position: relative;
        height: 70vh;
        width:40%;
        .card-front{
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
            height: 70vh;
            border-radius: 15px;
            transition: all 0.8s ease;
            backface-visibility: hidden;
            position: absolute;
            width: 90%;
            padding:2rem;
            color: white;
            background-color:white;
            h2{
                font-size:40px;
                text-shadow: 10px -9px 0 white;
                margin-top:30px;
                text-align: center;
                color:black;
            }
            p{
                text-align: center;
                font-size:20px;
                color:black;
            }
           
        }
        .card-back{
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
            height: 70vh;
            border-radius: 15px;
            transition: all 0.8s ease;
            backface-visibility: hidden;
            position: absolute;
           // bottom: 0px;
            width: 90%;
            padding:2rem;
            color: white;
            transform: rotateY(-180deg);
            background-color: black;
            p{
                color:white;
            }
            a{
                color:white;
                text-decoration: none;
            }
            a:hover{
                color:#62f0e4;
            }
         
        }
    
    }
    .card:hover{
        z-index: 9;
        .card-front{
            z-index: 9;
            transform: rotateY(180deg);
        }
        .card-back{
            z-index: 9;
            transform: rotateY(0deg);
        }
    }
}
@media(max-width:800px){

        .home-content{
            display:flex;
            flex-wrap:wrap;
            align-items: center;
            margin-top:30px;
            margin-bottom:30%;
            padding-bottom:10%;
            .card{
                margin-bottom:15%;
                width:90%;
                flex-basis:100%;
                height:30vh;
                .card-front{
                    justify-content: center;
                    align-items:center;
                width:90%;
                flex-basis:100%;
                height:30vh;
                    h2{
                        width:20%;
                        display:inline-flex;
                    }
                    h3{
                        width:20%;
                        display:inline-flex;
                        color:black;
                    }
                    li{
                        ul{
                            width:20%;
                            color:black;
                            list-style: none;
                        }
                    }
                    figure{
                        display: inline-flex;
                        height:200px;
                        width:50%;
                        img{ 
                            width:100%;
                            height:100%;
                            object-fit:cover;
                        }
                    }
                }
                .card-back{
                    justify-content: center;
                    align-items:center;
                width:90%;
                flex-basis:100%;
                height:30vh;
                }
            }
        }
    
    
}

@media(max-width:780px){
    
    .home-content{
        padding-top:10%;
        .card{
            display:flex;
            justify-content:center;
            align-items: center;

            .card-front{
                display:flex;
                justify-content:center;
                align-items: center;
         
                width:70%;
            }
            .card-back{
                justify-content: center;
                align-items:center;
                width:70% ;
         

            }
            }
        }
    
    
}

@media(max-width:630px){
   
        .home-content{
            .card{
                height:25vh;
                .card-front{
                   height:25vh;
                }
                .card-back{
                    height:25vh;

                }
            }
        }
    
}
@media(max-width:545px){
   
    .home-content{
        .card{
            height:20vh;
            .card-front{
               height:20vh;
            }
            .card-back{
                height:20vh;

            }
        }
    }

}