.skills{
    display:flex;
    margin-top:15%;
    justify-content: center;
    align-items: center;
      .skills-content{
          margin-right:3%;
          margin-left:3%;  
          img{
    
            margin-right:5px;
            margin-left:5px;
          }
          img:hover{
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-name: icon-bounce;
           // transform-origin: bottom;   //fixed bug? 
            animation-timing-function: ease;
          }
      }
      @keyframes icon-bounce {
          0%   { transform: scale(1,1)    translateY(0); }
          10%  { transform: scale(1.1,.9) translateY(0); }
          30%  { transform: scale(.9,1.1) translateY(-90px); }
          50%  { transform: scale(1,1)    translateY(0); }
          100% { transform: scale(1,1)    translateY(0); }
      }
  }

  @media(max-width:695px){
      .skills{
        .skills-content{
            img{
                margin-top:5%;
                justify-content: center;
                align-items: center;
            }
        }
      }
  }